@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Lato:wght@300;400;900&family=Roboto:wght@300;400;500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Lato:wght@300;400&family=Roboto:wght@300;400;500;900&display=swap");

:root {
  --mainColor: #25274d;
  --secendaryColor: #464866;
  --textColor: #aaabb8;
  --actionColor: #2e9cca;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/BG1.png");
  background-size: cover;
  background-position: fixed;
  color: var(--textColor);
}

.container {
  width: 1200px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-image: url("ASSETS/BG.jpg");
}

.bookingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookingContainer h1 {
  color: var(--actionColor);
  font-family: ubuntu;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}

.bookingContainer a {
  text-decoration: none;
  margin-top: 40px;
  color: var(--textColor);
  font-family: ubuntu;
  font-size: 15px;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.authHolder {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-family: lato;
}

.register {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 16px;
  color: var(--actionColor);
}

.signIn {
  background-color: var(--mainColor);
  font-size: 16px;
  padding: 8px 15px;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: var(--textColor);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.navBar img {
  width: 55px;
  margin: 30px 0;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  /* border: 1px solid whitesmoke; */
}

.content img {
  width: 600px;
}

.actionHeading {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.actionHeading h1 {
  font-size: 60px;
  font-family: roboto;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  cursor: pointer;
}

.button p {
  font-size: 20px;
  color: var(--actionColor);
  font-family: roboto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.button img {
  width: 30px;
}

.formContainer {
  padding: 60px 30px;
  margin: auto;
  border-radius: 5px;
  background-color: var(--mainColor);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  animation: smoothAppear 0.5s ease;
}

@keyframes smoothAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.formContainer form {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 30px;
  /* grid-template-rows: 3; */
  /* flex-direction: column; */
  /* gap: 30px; */
}

.fullName,
.flightType,
.from {
  grid-column: 1/2;
}

form button {
  margin-top: 30px;
  grid-column: 4/5;
  justify-self: end;
  padding: 10px 15px;
  background-color: var(--actionColor);
  border: none;
  color: var(--mainColor);
  font-family: ubuntu;
  font-size: 15px;
  font-weight: 500;
  /* border-radius: 5px; */
  box-shadow: rgba(187, 166, 166, 0.25) 0px 25px 50px -12px;
  cursor: pointer;
}

.formGroup {
  display: flex;
  font-family: Ubuntu;
  font-size: 15px;
  font-weight: 400;
  flex-direction: column;
  gap: 8px;
}

.formGroup input,
.formGroup select {
  height: 30px;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--actionColor);
  color: var(--actionColor);
  font-size: 18px;
  font-family: Ubuntu;
}

@keyframes fadesUp {
  from {
    transform: translateY(0%);
    opacity: 1;
    display: flex;
  }

  to {
    transform: translateY(-50%);
    opacity: 0;
    display: none;
  }
}

.footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer p {
  font-family: roboto;
  font-size: 10 px;
  font-weight: normal;
  color: var(--actionColor);
}
